-- ========== Очистка существующих объектов ==========
DROP TABLE IF EXISTS Grades;
DROP TABLE IF EXISTS Students;

-- ====================== DDL ======================
-- Создание таблицы Students с автоинкрементным первичным ключом
CREATE TABLE Students (
    StudentID   INT IDENTITY(1,1) PRIMARY KEY,   -- автоинкремент
    FullName    NVARCHAR(100) NOT NULL,
    BirthDate   DATE,
    GroupName   NVARCHAR(20) DEFAULT N'Н/Д',
    Email       NVARCHAR(100)                    -- без UNIQUE, чтобы не вызывать конфликтов
);

-- Создание таблицы Grades
CREATE TABLE Grades (
    GradeID     INT IDENTITY(1,1) PRIMARY KEY,
    StudentID   INT NOT NULL,
    Subject     NVARCHAR(50),
    Grade       INT CHECK (Grade BETWEEN 1 AND 5),
    ExamDate    DATE,
    CONSTRAINT fk_student FOREIGN KEY (StudentID)
        REFERENCES Students(StudentID)
        ON DELETE CASCADE
);

-- ====================== DML ======================
-- Вставка студентов (без указания StudentID, он сгенерируется автоматически)
INSERT INTO Students (FullName, BirthDate, GroupName, Email)
VALUES 
    (N'Иванов И.И.', '2002-05-15', N'ИТ-2021', 'ivanov@example.com'),
    (N'Петров П.П.', '2001-12-20', N'ИТ-2021', 'petrov@example.com'),
    (N'Сидоров С.С.', '2003-02-10', N'ИТ-2022', 'sidorov@example.com');

-- Вставка оценок (используем существующие StudentID: 1,2,3)
INSERT INTO Grades (StudentID, Subject, Grade, ExamDate)
VALUES 
    (1, N'Математика', 5, '2023-06-10'),
    (1, N'Физика', 4, '2023-06-15'),
    (2, N'Математика', 3, '2023-06-10'),
    (3, N'Информатика', 5, '2023-06-20');

-- Демонстрация нарушения ссылочной целостности (студент 99 не существует)
-- Будет ошибка, но мы её перехватим, чтобы скрипт продолжился
PRINT '--- Проверка ссылочной целостности ---';
BEGIN TRY
    INSERT INTO Grades (StudentID, Subject, Grade, ExamDate)
    VALUES (99, N'Химия', 3, '2023-06-25');
END TRY
BEGIN CATCH
    PRINT 'Ошибка: ' + ERROR_MESSAGE();
END CATCH

-- ====================== TCL (транзакции) ======================
PRINT '--- Транзакции ---';
-- Откат
BEGIN TRANSACTION;
INSERT INTO Students (FullName, BirthDate, GroupName, Email)
VALUES (N'Временный Студент', '2003-01-01', N'ИТ-2023', 'temp@example.com');
SELECT * FROM Students WHERE Email = 'temp@example.com'; -- строка видна внутри транзакции
ROLLBACK;  -- откатываем
SELECT * FROM Students WHERE Email = 'temp@example.com'; -- пусто

-- Фиксация
BEGIN TRANSACTION;
INSERT INTO Students (FullName, BirthDate, GroupName, Email)
VALUES (N'Постоянный Студент', '2002-08-10', N'ИТ-2022', 'permanent@example.com');
COMMIT;
SELECT * FROM Students WHERE Email = 'permanent@example.com'; -- строка на месте

-- ====================== DCL ======================
PRINT '--- Управление правами ---';
-- Создаём роль, если её нет
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = 'analyst')
    CREATE ROLE analyst;
-- Предоставляем права
GRANT SELECT, INSERT ON dbo.Students TO analyst;
GRANT SELECT ON dbo.Grades TO analyst;

-- ====================== Примеры SELECT ======================
PRINT '--- Примеры запросов ---';
-- Простой запрос
SELECT FullName, GroupName FROM Students WHERE GroupName = N'ИТ-2021';

-- JOIN
SELECT s.FullName, g.Subject, g.Grade
FROM Students s
JOIN Grades g ON s.StudentID = g.StudentID;

-- Агрегация
SELECT s.FullName, AVG(CAST(g.Grade AS FLOAT)) AS AvgGrade
FROM Students s
JOIN Grades g ON s.StudentID = g.StudentID
GROUP BY s.FullName;

-- TOP 2
SELECT TOP (2) * FROM Students ORDER BY BirthDate DESC;