-- Создание таблицы Orders (если нужна)
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    UserID INT,
    Amount DECIMAL(10,2),
    FOREIGN KEY (UserID) REFERENCES Students(StudentID)
);

-- Вставка тестовых данных
INSERT INTO Orders VALUES (1, 1, 150.00), (2, 2, 80.00);

-- Теперь запрос сработает
SELECT s.FullName, o.Amount
FROM Students s
JOIN Orders o ON s.StudentID = o.UserID
WHERE o.Amount > 100;